<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->

<html>
  <!-- Sidebar/menu -->
  <body>
    <header><h1>Angular Router App</h1></header>
    <div class="main">
      <article>Article text text text</article>
      <nav class="menu">
        <ul>
          <div class="overviewcard">
            <ol class="menu_item menu_item--active">
              <a
                routerLink="/first-component"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >Medicare</a
              >
            </ol>
          </div>
          <ol class="menu_item menu_iten--active">
            <a
              routerLink="/second-component"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Medicare eligibility</a
            >
          </ol>
          <ol class="menu_item">
            <a
              routerLink="/third-component"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Talk Prescriptions</a
            >
          </ol>
          <ol class="menu_item">
            <a
              routerLink="/fourth-component"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Enrollment Periods</a
            >
          </ol>
          <div class="overviewcard">
            <ol class="menu_item">
              <a
                routerLink="/fifth-component"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >Contact Us</a
              >
            </ol>
          </div>
        </ul>
      </nav>
    </div>
    <footer>Footer</footer>
  </body>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</html>
