<p>fifth works!</p>
<h2 class="w3-center">Slideshows</h2>
<div class="w3-content" style="max-width: 800px; position: relative">
  <img
    class="mySlides w3-animate-opacity"
    src="/w3images/snow.jpg"
    style="width: 100%"
  />
  <img
    class="mySlides w3-animate-opacity"
    src="/w3images/lights.jpg"
    style="width: 100%"
  />
  <img
    class="mySlides w3-animate-opacity"
    src="/w3images/mountains.jpg"
    style="width: 100%"
  />
  <img
    class="mySlides w3-animate-opacity"
    src="/w3images/forest.jpg"
    style="width: 100%"
  />

  <a
    class="w3-button w3-hover-dark-grey"
    style="position: absolute; top: 45%; left: 0"
    onclick="plusDivs(-1)"
    >❮</a
  >
  <a
    class="w3-button w3-hover-dark-grey"
    style="position: absolute; top: 45%; right: 0"
    onclick="plusDivs(+1)"
    >❯</a
  >
</div>

<div class="w3-container"></div>
