<div class="w3-row-padding">
  <div>
    <form class="w3-container w3-card-4">
      <h2>Input Form</h2>
      <div class="w3-section">
        <input class="w3-input" type="text" required />
        <label>Name</label>
      </div>
      <div class="w3-section">
        <input class="w3-input" type="text" required />
        <label>Email</label>
      </div>
      <div class="w3-section">
        <input class="w3-input" type="text" required />
        <label>Contact Number</label>
      </div>

      <div>
        <div>
          <input
            id="Monday"
            class="w3-check"
            type="checkbox"
            checked="checked"
          />
          <label>Monday</label>
          <br />
          <input id="Tuesday" class="w3-check" type="checkbox" />
          <label>Tuesday</label>
          <br />
          <input id="Wednesday" class="w3-check" type="checkbox" />
          <label>Wednesday</label>
          <br />
          <input id="Thursday" class="w3-check" type="checkbox" />
          <label>Thursday</label>
          <br />
          <input id="Friday" class="w3-check" type="checkbox" />
          <label>Friday</label>
          <br />
          <input id="Saturday" class="w3-check" type="checkbox" />
          <label>Saturday</label>
          <br />
          <input id="Sunday" class="w3-check" type="checkbox" />
          <label>Sunday</label>

          <br /><br />
        </div>

        <a class="inputButton">Button</a>
      </div>
      <br />
    </form>
  </div>
</div>
