<!-- <p>first works!</p> -->
<div class="container">
  <div class="main-cards">
    <div class="card">Card</div>
    <div class="card">Card</div>
    <div class="card">Card</div>
  </div>
</div>
<body>
  <header>Header</header>
  <div id="main">
    <article>
      <p>
        Part A (Hospital Insurance): Helps cover inpatient care in hospitals,
        skilled nursing facility care, hospice care, and home health care.
      </p>
      <p>
        Part B (Medical Insurance): Helps cover: Services from doctors and other
        health care providers Outpatient care Home health care Durable medical
        equipment (like wheelchairs, walkers, hospital beds, and other
        equipment) Many preventive services (like screenings, shots or vaccines,
        and yearly “Wellness” visits)
      </p>
      <p>
        Part D (Drug coverage): Helps cover the cost of prescription drugs
        (including many recommended shots or vaccines). You join a Medicare drug
        plan in addition to Original Medicare, or you get it by joining a
        Medicare Advantage Plan with drug coverage. Plans that offer Medicare
        drug coverage are run by private insurance companies that follow rules
        set by Medicare.
      </p>
    </article>
    <nav>Nav</nav>
  </div>
  <footer>Footer</footer>
</body>
